<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="WebAutomation.Goibibo.TicketDetailsPageTest"/>
      <class name="WebAutomation.Goibibo.SearchResultsPageTest"/>
      <class name="WebAutomation.Goibibo.HomePageTest"/>
      <class name="WebAutomation.Goibibo.PaymentDetailsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
